/* article code node */
.article-code-node:first-child {
  margin-top: 0;
}

pre.article-code-node {
  background: #000000; /* black */
  border-radius: 0.5rem;
  color: #ffffff; /* white */
  font-family: "Roboto Slab", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
}

pre.article-code-node code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Code styling */
pre.article-code-node .hljs-comment,
pre.article-code-node .hljs-quote {
  color: #616161;
}

pre.article-code-node .hljs-variable,
pre.article-code-node .hljs-template-variable,
pre.article-code-node .hljs-attribute,
pre.article-code-node .hljs-tag,
pre.article-code-node .hljs-name,
pre.article-code-node .hljs-regexp,
pre.article-code-node .hljs-link,
pre.article-code-node .hljs-name,
pre.article-code-node .hljs-selector-id,
pre.article-code-node .hljs-selector-class {
  color: #f98181; /* light red */
}

pre.article-code-node .hljs-number,
pre.article-code-node .hljs-meta,
pre.article-code-node .hljs-built_in,
pre.article-code-node .hljs-builtin-name,
pre.article-code-node .hljs-literal,
pre.article-code-node .hljs-type,
pre.article-code-node .hljs-params {
  color: #fbbc88; /* light orange */
}

pre.article-code-node .hljs-string,
pre.article-code-node .hljs-symbol,
pre.article-code-node .hljs-bullet {
  color: #b9f18d; /* light green */
}

pre.article-code-node .hljs-title,
pre.article-code-node .hljs-section {
  color: #faf594; /* light yellow */
}

pre.article-code-node .hljs-keyword,
pre.article-code-node .hljs-selector-tag {
  color: #70cff8; /* light blue */
}

pre.article-code-node .hljs-emphasis {
  font-style: italic;
}

pre.article-code-node .hljs-strong {
  font-weight: 700;
}

/* React component */
.react-component {
  background-color: #e0c3fc; /* purple-light */
  border: 2px solid #a29bfe; /* purple */
  border-radius: 0.5rem;
  /* margin: 2rem 0; */
  position: relative;
}

.react-component label {
  background-color: #a29bfe; /* purple */
  border-radius: 0 0 0.5rem 0;
  color: #ffffff; /* white */
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 0;
}

.react-component .content {
  margin-top: 1.5rem;
  padding: 1rem;
}
