#preview-article .ql-font-serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#preview-article a {
  text-decoration: underline;
}
#preview-article a:visited {
  color: #b8e986;
}

#preview-article h2,
#preview-article h3,
#preview-article h4,
#preview-article h5,
#preview-article h6 {
  font-weight: bold;
}

/* blockquote style */
#preview-article blockquote {
  quotes: initial;
  border-radius: 4px;
  width: fit-content;
  font-size: small !important;
  max-width: 350px;
  padding: 1.5em 20px;
  padding-right: 30px;
  border-left: 5px solid #58942e;
  background-color: #dcfab6;
  font-style: italic;
  color: #58942e;
  position: relative;
}

#preview-article blockquote::before {
  content: "\275D";
  font-size: 2em;
  color: #58942e;
  position: absolute;
  left: 10px;
  top: 0px;
  line-height: 1;
}

#preview-article blockquote::after {
  content: "\275E";
  font-size: 2em;
  color: #58942e;
  position: absolute;
  bottom: -10px;
  line-height: 1;
}

/* alIgn content */
#preview-article .ql-align-center {
  text-align: center;
  margin: 0 auto;
}

#preview-article .ql-align-right {
  text-align: right;
  margin: 0 0 0 auto;
}

/* align text */
.ql-align-justify {
  text-align: justify;
}

/* conde element styke */
#preview-article .ql-code-block-container {
  background-color: rgb(35, 36, 31);
  padding: 1em;
  max-width: 640px;
  min-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  border-radius: 6px;
}
#preview-article .ql-code-block-container .ql-code-block {
  white-space-collapse: pre-wrap !important;
  white-space: pre-wrap !important;
  min-width: 100% !important;
  width: 100% !important;
}

#preview-article .ql-code-block-container::-webkit-scrollbar {
  width: 5px;
}
#preview-article .ql-code-block-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#preview-article .ql-code-block-container::-webkit-scrollbar-thumb {
  background: #58942e;
  border-radius: 5px;
}

/* image style */
#preview-article img {
  min-width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin: 0 auto !important;
  display: block;
  border-radius: 8px;
}

#preview-article li[data-list="bullet"] {
  list-style-type: disc;
}
